.display-table,
.display-table__row,
.display-table__cell {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
}

.display-table {
  width: 100%;
  display: table;
}

.display-table__row {
  display: table-row;
}

.display-table__cell {
  display: table-cell;
  width: 50%;
}

.reference-page summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

.reference-page details[open] {
  padding: 0.5em;
}

.reference-page details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

.reference-page select {
  margin-left: 0.5rem;
}