.display-table__cell {
  border: 0.5px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
}

.display-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 0.5px solid black;
}

.display-table__row {
  display: inline-flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .display-table__row {
    flex-direction: row;
  }
}

.display-table__cell {
  flex: 1;
}

.reference-page summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

.reference-page details[open] {
  padding: 0.5em;
}

.reference-page details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

.reference-page select {
  margin-left: 0.5rem;
}

.reference-page input {
  margin-left: 0.25rem;
}