/* Undo the tailwind CSS reset */
::before,
::after {
  box-sizing: revert;
  border-width: revert;
  border-style: revert;
  border-color: revert;
}

.reference-page .display-table h1,
.reference-page .display-table h2,
.reference-page .display-table h3,
.reference-page .display-table h4,
.reference-page .display-table h5,
.reference-page .display-table h6 {
  font-size: revert;
  font-weight: revert;
}

.reference-page a {
  color: revert;
  text-decoration: revert;
}

.reference-page button,
.reference-page input,
.reference-page optgroup,
.reference-page select,
.reference-page textarea {
  color: revert;
  margin: revert;
  padding: revert;
  box-sizing: revert;
  border-width: revert;
  border-style: revert;
  border-color: revert;
}

.reference-page button,
.reference-page input:where([type='button']),
.reference-page input:where([type='reset']),
.reference-page input:where([type='submit']) {
  -webkit-appearance: revert;
  background-color: revert;
  background-image: revert;
}

.reference-page .display-table blockquote,
.reference-page .display-table dl,
.reference-page .display-table dd,
.reference-page .display-table h1,
.reference-page .display-table h2,
.reference-page .display-table h3,
.reference-page .display-table h4,
.reference-page .display-table h5,
.reference-page .display-table h6,
.reference-page .display-table hr,
.reference-page .display-table figure,
.reference-page .display-table p,
.reference-page .display-table pre {
  margin: revert;
}

.reference-page fieldset {
  margin: revert;
  padding: revert;
}

.reference-page dialog {
  padding: revert;
}

.reference-page ol,
.reference-page ul,
.reference-page menu {
  list-style: revert;
  margin: revert;
  padding: revert;
}